.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/*CARD*/

a {
  text-decoration:none ;
}
.card {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  margin: 20px;
 }
 
 .card:hover {
  opacity: 0.95;
  transform: scale(1);
 }

 .card-add {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 60px;
  color: snow;
  border-radius: 15%;

  width: 190px;
  height: 254px;
  background: rgb(72, 98, 73);
 }
 
 .card_title{
  text-align: center;
  margin: 15px;

 }
 .fecha{
  position: absolute;
  bottom: 5px;
  color: gray;
  margin: 0px 22px;
 }

 .btn-danger{
  position: absolute;
  padding: 5px;
  font-size: 12px;
  right: 5px;
  top: 5px;
 }

 .priori{
  position: absolute;
  bottom: 10%;
  margin: 5px 33%;
 }

 .baja_text{
  color: green;
  text-transform: capitalize;

  
 }
.media_text{
  color: yellow;
  text-transform: capitalize;

}
 .alta_text{
  color: tomato;
  text-transform: capitalize;

 }